.Card-container{
    display: flex;
    /* margin: 15px; */
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    border-radius: 10px;
    margin: 20px;
}

.Card-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.Card-authors {
    font-weight: lighter;
    margin: 10px;
}

.Card-content {
    font-weight: lighter;
    margin: 10px;
}

.Card-heart {
    border: transparent;
    background-color: transparent;
}

.Card-checkmark {
    border: transparent;
    background-color: transparent;
    /* margin: 10px; */
  }

  .Card-xmark {
    border: transparent;
    background-color: transparent;
    color: red;
  }

  .Card-likes {
      color: black,
  }