* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Story-space {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.item {
  padding: 10px;
  font-size: var(--m);
}

.GamePage-addButton {
  width: 15vh;
  height: 15vh;
  font-family: "Roboto", sans-serif;
  background-color: #ccd5ae;
  border-radius: var(--l);
  border-color: darkgray;
}

.GamePage-addButton:hover {
  background-color: #bbc598;
  transition: all 0.2s;
  cursor: pointer;
}

.GamePage-postButton {
  width: 15vh;
  height: 15vh;
  font-family: "Roboto", sans-serif;
  background-color: #ccd5ae;
  border-radius: var(--l);
}

.my-text {
  position: relative;
  padding: 17px 6px 17px 0px;
}

.Text-space_count {
  position: absolute;
  bottom: -2px;
  right: 8px;
  font-size: 13px;
}

.Text-space {
  resize: none;
  width: 70vw;
  border-radius: 10px;
  height: 15vh;
}

.Add {
  display: flex;
  /* align-items: flex-start; */
}

.test {
  border-style: solid;
  border-width: 2px;
  border-color: darkgray;
  border-radius: 10px;

  width: 70vw;
  height: 60vh;
}

.button-start {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: darkgray;

  /* background-color: #ccd5ae; */
  background-color: rgba(212, 163, 115, 1);
  font-size: 15px;
  color: white;
  margin: 0px;
  height: 40px;
  width: 120px;
}

.button-start:hover {
  background-color: rgb(197, 121, 45);
  transition: all 0.2s;
  cursor: pointer;
}

.checkmark {
  border: transparent;
  background-color: transparent;
  margin: 10px;
  color: rgb(110, 219, 110);
}

.xmark {
  border: transparent;
  background-color: transparent;
  margin: 10px;
  color: red;
}

.undoMessage {
  font-size: 10px;
}

/* New code improving the contributor attributes */
.ColorDisplay {
  height: 25px;
  width: 25px;
  border: 1px solid;
  border-radius: 50%;
  display: block;
  /* randomly generate a background color  */
}

.OurStory {
  display: flex;
  flex-direction: row;
}

.ContributorsSpace {
  flex: 0.3;
  flex-direction: "column";
  padding-left: 30px;
  padding-right: 20px;
}

.Contributors {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 25px;
}
.TextingSpace {
  display: flex;
  flex-direction: "row";
}

.AddingButton {
  padding: 24;
  flex: 0.3;
}
