* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Story-space {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.item {
  padding: 10px;
  font-size: var(--m);
}

.GamePage-addButton {
  width: 15vh;
  height: 15vh;
  font-family: "Roboto", sans-serif;
  background-color: #ccd5ae;
  border-radius: var(--l);
}

.my-text {
  position: relative;
  padding: 24px 0px 24px 0px;
}

.Text-space_count {
  position: absolute;
  bottom: -2px;
  right: 8px;
  font-size: 13px;
}

.Text-space {
  resize: none;
  width: 70vw;
  border-radius: 10px;
  height: 15vh;
}

.Add {
  display: flex;
}

.test {
  border-style: solid;
  border-width: 2px;
  border-color: darkgray;
  border-radius: 10px;

  width: 70vw;
  height: 60vh;
}
