.Homepage-title {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  margin: 20px;
  justify-content: center;
}

.Homepage-feed {
  display: flex;
  flex-direction: column;
}

.Homepage-feedtitle {
  color: rgba(212, 163, 115, 1);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.Homepage-instructionstitle {
  color: rgba(212, 163, 115, 1);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.instructions-list {
  list-style-type: square;
  margin: 30px 50px 0px 100px;
}

li:not(:last-child) {
  margin-bottom: 10px;
}
