.Code-Form {
  display: flex;
  align-items: center;
  text-align: center;
}

.Game-Code {
  margin: 0 auto;
  display: block;
  text-align: center;
  border: none;
  margin-top: 30px;
}

.Code-Label {
  margin: 100px;
  color: red;
}

input {
  padding: 10px;
  margin: 25px 0px 15px 0px;
  border-radius: 10px;
}
