* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.Lobby-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.Lobby-Options {
  /* margin: auto; */
  border-style: solid;
  border-width: 2px;
  border-color: darkgray;
  border-radius: 10px;

  background-color: rgba(212, 163, 115, 1);
  color: #fff;
  font-size: 25px;

  margin: 30px;
  height: 150px;
  width: 40vw;
}

.Lobby-Options:hover {
  background-color: rgb(197, 121, 45);
  transition: all 0.2s;
  cursor: pointer;
}
