.SubmitBar-sent {
  border: 2px solid grey;
}

.Text-space_count {
  position: absolute;
  bottom: -20px;
  left: 8px;
  font-size: 13px;
}

.SubmitBar-addButton {
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: #ccd5ae;
}

textarea {
  resize: none;
  border: 2px solid grey;
  width: 1200px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.SubmitBar-typeBox {
  position: fixed;
  padding-bottom: 0;
  bottom: 35px;
  display: flex;
  justify-content: stretch;
}